src/main/mule/as-music-factory-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:sps-logger="http://www.mulesoft.org/schema/mule/sps-logger" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/sps-logger http://www.mulesoft.org/schema/mule/sps-logger/current/mule-sps-logger.xsd">
    <flow name="AS-music-factory-api-main">
        <http:listener config-ref="http-listener-config" path="/${http.router.path}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <ee:transform doc:name="headerAttributes &amp; currentFlow" doc:id="dfc88cb5-5c84-498b-af8a-d587304819c6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="headerAttributes" ><![CDATA[%dw 2.0
output application/json
---
{
	correlationId: message.attributes.headers.correlation_id default uuid(),
	clientId: message.attributes.headers.client_id default "",
	clientSecret: message.attributes.headers.client_secret default ""
}]]></ee:set-variable>
				<ee:set-variable variableName="currentFlow" ><![CDATA[%dw 2.0
output application/json
var currentFlow = "AS-music-factory-api-main::apiKitRouter"
---
currentFlow]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<sps-logger:sps-logger doc:name="INFO START" doc:id="ceefed12-95a5-4c24-a521-b082cef24b19" config-ref="SPS_Logger_Config" targetSystem="APIKIT" eventName="START" correlationId="#[vars.headerAttributes.correlationId]" message="#['AS-music-factory-api-main::payload: ' ++ write(payload,'application/json')]" category="${logcat}"/>
		<apikit:router config-ref="AS-music-factory-api-config"/>
    </flow>
    <flow name="AS-music-factory-api-console">
        <http:listener config-ref="http-listener-config" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="AS-music-factory-api-config"/>
    </flow> 
    </mule>