src/main/mule/error-handling-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<flow name="main-continue" doc:id="1a7bde6a-9259-4944-919c-d086a73ed8fc" >
		<http:listener doc:name="GET /mainContinue" doc:id="3669b9a2-082a-46b9-a673-ef84c9166988" path="/mainContinue" config-ref="HTTP_Listener_config"/>
		<set-payload value="#['Success - Begin main flow']" doc:name="Success - Begin main flow" doc:id="ee704657-2cab-4ce8-86aa-0434cf0fdb56" />
		<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="09089086-4aa2-46b4-bb14-8b999b8384fd" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']"/>
		<set-payload value="#['Success - End main flow']" doc:name="Success - End main flow" doc:id="5d0b0baf-13a5-48cc-b8f2-59b941e463dd" />
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="cf86b0a4-b0a9-424f-bb3f-8a2d512e6f93" >
				<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "main-continue-error-handler",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="Error - main flow" doc:id="79d57554-662f-45ec-8f3b-f3eab4db1eb0" />
				<logger level="INFO" doc:name="Logger" doc:id="01206333-4510-47a1-ba70-67adb1f2146c" message="Error - main flow" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="main-propagate" doc:id="4971747b-1568-4e2b-be98-69b9c9d139a8" >
		<http:listener doc:name="GET /mainPropagate" doc:id="4f32b115-379b-45f4-bdd0-9e4c6d1b1bb4" config-ref="HTTP_Listener_config" path="/mainPropagate" />
		<set-payload value="#['Success - Begin main propagate flow']" doc:name="Success - Begin main propagate flow" doc:id="222fff81-cd2d-45fa-8065-92838308690c" />
		<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="58503e33-bab0-49e3-b717-8df827292874" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']" />
		<set-payload value="#['Success - End main propagate flow']" doc:name="Success - End main propagate flow" doc:id="1554a3c6-b51a-43fa-b9ec-57d0bbd65595" />
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="5638df2f-1845-4bdd-ae80-0b899c802452" type="ANY">
				<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "main-propagate-error-handler",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="Error - main propagate flow" doc:id="93086c41-fb81-45bc-93ec-60cc542b6b4c" />
				<logger level="INFO" doc:name="Log Propagate" doc:id="5361f606-679f-4c86-b278-15b9fcc9779c" message="Error main-propagate flow" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="main-private" doc:id="cb2d1217-adb7-41f6-afcb-3eea9ad3a80a" >
		<http:listener doc:name="GET /mainPrivate" doc:id="7a7fcccd-e0ad-4a87-8ec0-05d47b03599e" config-ref="HTTP_Listener_config" path="/mainPrivate" />
		<set-payload value="#['Success - Begin main private flow']" doc:name="Success - Begin main private flow" doc:id="8dab8a34-7091-447a-b35b-90e9d494a9cd" />
		<set-variable value="#[attributes.queryParams.errorType]" doc:name="errorType" doc:id="d3026b6a-8d43-48e0-9831-116369dd9296" variableName="errorType"/>
		<set-variable value="#[attributes.queryParams.useTryBlock]" doc:name="useTryBlock" doc:id="2acc5c12-6900-4f0c-aabd-a873543b0ce6" variableName="useTryBlock"/>
		<choice doc:name="Choice" doc:id="8fe783d6-6773-4e5d-9b6a-b2f2eb148ad5" >
			<when expression="#[vars.errorType == 'error']">
				<flow-ref doc:name="privateError" doc:id="c470de1c-786c-4dee-9357-9ad4c6e9e0b8" name="privateError" />
			</when>
			<otherwise >
				<flow-ref doc:name="privateContinue" doc:id="e6d05570-3a5a-471c-86ac-bc1ab4a04dd1" name="privateContinue"/>
			</otherwise>
		</choice>
		<set-payload value="#['Success - End main private flow']" doc:name="Success - End main private flow" doc:id="3377ace2-fdf0-439c-8d8a-b51041fef812" />
	</flow>
	<flow name="privateError" doc:id="41238e26-74d4-4230-a0c6-b024ba8eacf4" >
		<logger level="INFO" doc:name="START" doc:id="1101b43f-8cdc-40e6-813d-c65ac60eba4c" message="main-private::private::START"/>
		<choice doc:name="useTryBlock?" doc:id="e75124c0-e8d8-4926-9626-b119403a77e3" >
			<when expression='#[vars.useTryBlock == "true"]'>
				<try doc:name="Try" doc:id="7826b0ef-b697-4228-a6ff-c92b25000464" >
					<logger level="INFO" doc:name="Logger" doc:id="28a9e01f-e2ff-4917-a14c-86e21483cb58" message="private::TRY_BLOCK"/>
					<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="e95e7108-23ef-4313-9095-fe8252eb6f61" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']" />
					<error-handler >
						<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="d9ed2ea0-3a16-44e8-a949-9f0f0d7ad1a4" >
							<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "try-block-error-handler",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="Set Payload" doc:id="1887ed73-bad1-48a0-9b54-fde78fb48a5b" />
							<logger level="ERROR" doc:name="Logger" doc:id="33406ece-3305-46b3-936e-6c9660640e5f" message="private::TRY_BLOCK::ErrorHandling::OnErrorPropagate"/>
						</on-error-propagate>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="14c1d0d7-b91f-4897-bd2a-40d1f9f99c76" message="private::NOT_TRY_BLOCK"/>
				<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="586fef24-60c2-45f4-8fcf-f2b048e03b0a" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="03a187ba-f8ea-46c2-81c4-0aa018e79d8f" >
				<logger level="ERROR" doc:name="Log Propagate - Private" doc:id="25855ec4-9ed1-4d0b-b81d-e8085d985ab0" message="private::ErrorHandling::OnErrorPropagate" />
				<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "private-error-handler",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="Error - private flow" doc:id="579f63bf-6d2c-4172-9161-8453a9a328e9" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="privateContinue" doc:id="3652ffc4-f111-4a37-8ca3-84df6817a74f">
		<logger level="INFO" doc:name="START" doc:id="9d57cd64-502a-49d1-977c-1e435ec9b6b5" message="main-private::private::START" />
		<choice doc:name="useTryBlock?" doc:id="8bef8c6b-6f4d-4917-a4dc-7abee93b9265" >
			<when expression='#[vars.useTryBlock == "true"]'>
				<try doc:name="Try" doc:id="9e11cee8-d1e4-4d74-a413-6d76418fd41f" >
					<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="681b7dde-28f6-4cf5-849e-d23a9b4b26e1" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']" />
					<error-handler >
						<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="c8451de1-79f4-4d23-89d9-01d3e15c76af" >
							<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "try-block-error-handler-continue",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="validation error" doc:id="c56cb85a-6e66-4d66-8187-e76ed8fa09b8" />
						</on-error-continue>
					</error-handler>
				</try>
			</when>
			<otherwise >
				<validation:is-number numberType="INTEGER" doc:name="Validate someNumber" doc:id="618f5a8a-1363-4739-bb40-bbd8663142d9" value="#[attributes.queryParams.someNumber]" minValue="0" maxValue="9999" message="#['Value entered ' ++ (attributes.queryParams.someNumber as String) ++ ' is not valid (0-9999)']" />
			</otherwise>
		</choice>
		<set-payload value="#['ContinueD After TRY_BLOCK']" doc:name="continue past TRY_BLOCK" doc:id="0bbc5f3c-2520-4d0c-b472-b0b261a7d1e7" />
		<error-handler>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="5335302e-aef1-4180-9a01-fff8043943c6" >
				<logger level="INFO" doc:name="Log Propagate - Private" doc:id="85e80b29-8b44-4531-80c8-4d7b39e05a68" message="private::ErrorHandling::OnErrorContinue" />
				<set-payload value='#[%dw 2.0
output application/json
---
{
	"errorHandler": "private-error-handler-continue",
	"errorType": error.errorType.identifier,
	"errorMessage": error.description
}]' doc:name="Error - private flow" doc:id="d58e09c8-b98f-44a8-952e-53ad1826d133" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
